.CardName {
  font-family: OpenSans-Semibold;
  font-size: 18px;
  color: #C6C6C6;
  line-height: 24px;
  padding-bottom: 10px;
}

.selected {
  color: #B6E0A4;
  text-shadow: 0 -.5px 0 #9FBE8E, 0 0 1px white;
}