@font-face {
	font-family: 'devicons';
	src: url('src/assets/fonts/devicons.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'emoji';
	src: url('src/assets/fonts/OpenSansEmoji.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'fontawesome';
	src: url('src/assets/fonts/fontawesome-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

//<i class="fa fa-nameoficon"></i>
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);

//font-family: 'Dosis', sans-serif;
@import url(https://fonts.googleapis.com/css?family=Dosis:500,600);